@import url(./reset.css); 

body {
  background-color: pink;
}

button {
  background: none;
  border: none;
  font-size: 60px;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

h1 {
  margin-bottom: 30px;
  font-size: 28px;
}

.bold {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.whiteText {
  color: white;
  font-weight: 600;
}

.battle {
  color: red;
  font-weight: 600;
}

.hidden {
  display: none !important;
}

#games-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 30px;
}

.selected-button {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.3);
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* rpsGame */
#rock-paper-scissors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result button {
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}
#result p {
  margin-top: 10px;
  color: hotpink;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* randomNumberGame */
#random-number-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end-div {
  margin-top: 10px;
  margin-bottom: 15px;
}

#choice-div {
  margin-bottom: 20px;
}

#play-div {
  margin-bottom: 18px;
}
#play-div p {
  font-size: 17px;
}

#hidden-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hidden-div .bold {
  margin-top: 8px;
}